.search-top {
    border: 1px solid #2facc5;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.fs-header-item {
    font-size: 12px;
}

.header__search-top {
    border: 1px solid #2450b5 !important;
}

.header__nav {
    height: 80px;
}